:root{
  --primaryColor: green;
  --secondaryColor: lightgreen;
}

body{
  background-color: #101010;

}

.box {
    width: 1000px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}

.name{
  color: var(--primaryColor);
  font-size: 25px;
}

.title {
  color: var(--secondaryColor);
  font-size: 18px;
}

.school{
  color: var(--primaryColor);
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;

}

.flip-card a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.flip-card a:hover, .flip-card button:hover{
  color: var(--secondaryColor);
}


@keyframes key1{
from{opacity:0;}
to{}
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {

  /* border-radius: 55px; */
  /* height: auto;
  width: 25%; */
  /*
  background-color: transparent;
  width: 300px;
   height: 500px; 
  margin: auto;
  border: 1px solid #f1f1f1;
  perspective: 1000px;  Remove this if you don't want the 3D effect 
  */
  margin-top: 20px;
  height: 100%; 
  perspective: 1000px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  max-width: 300px;
  /* padding: 10px; */
  text-align: center;
  font-family: arial;
  /* position: relative; */
}

/* This container is needed to position the front and back side */
.flip-card-inner {

  
  transform-style: preserve-3d;
  display: flex;
  align-items: stretch;
  width: 100%;
  transition: transform 0.6s;
  will-change: transform;
}

.crop{


  width: 100%;
  background-color: var(--secondaryColor);
  height: 175px;
  overflow: hidden;
}    


/* Do an horizontal flip when you move the mouse over the flip box container */
.flipped {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {

  /* top: 50px; */
  width: 100%;
  flex: 0 0 auto;
  backface-visibility: hidden;
  width: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  animation-name: key1;
  animation-duration: 3s;

  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #bbb;
  padding: 5%;
  font-size: 15px;
  color: var(--primaryColor);
  transform: rotateY(180deg);
  margin-left: -100%;
}
